<div class="column is-one-quarter">
  <nav class="panel">
    <p class="panel-heading">Popular</p>
      <a class="panel-block">
        Popular now 1
      </a>
      <a class="panel-block">
        Popular now 2
      </a>
      <a class="panel-block">
        Popular now 3
      </a>
      <a class="panel-block">
        Popular now 4
      </a>
      <a class="panel-block">
        Popular now 5
      </a>
      <a class="panel-block">
        Popular now 6
      </a>
  </nav>
</div>